@font-face {
    font-family: 'Overseer';
    src: url('../fonts/Overseer.eot');
    src: url('../fonts/Overseer.eot') format('embedded-opentype'),
         url('../fonts/Overseer.woff2') format('woff2'),
         url('../fonts/Overseer.woff') format('woff'),
         url('../fonts/Overseer.ttf') format('truetype'),
         url('../fonts/Overseer.svg#Overseer') format('svg');
}
