@import url('./Overseer.css');

/*
dimension les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px

body > nav > ul
body > footer > section > nav > ul

*/

:root{
    font-family: Arial, Helvetica, sans-serif;
    --aside-font-fam: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    --couleur-texte-generale: rgb(0, 0, 0);
    color: var(--couleur-texte-generale);
    --bg-nav-principale: #625D73;
    --lien-nav-principale: #F2F2F2;
    --article-gutter: 10px;
    --width-col-25: calc( 25% - calc( var(--article-gutter) * 2 ) );
    --width-col-33: calc( 33% - calc( var(--article-gutter) * 2 ) );
    --width-col-50: calc( 50% - calc( var(--article-gutter) * 2 ) );
    --width-col-75: calc( 75% - calc( var(--article-gutter) * 2 ) );
    --width-col-66: calc( 66% - calc( var(--article-gutter) * 2 ) );
    --width-col-100: calc( 100% - calc( var(--article-gutter) * 2 ) );
    /*--article-xs-width: calc( 100% - calc( var(--article-gutter) * 2 ) );
    --article-md-width: calc( 50% - calc( var(--article-gutter) * 2 ) );
    --article-lg-width: calc( 33% - calc( var(--article-gutter) * 2 ) );
    --article-md-2-3: calc( 66% - calc( var(--article-gutter) * 2 ) );
    --article-xl-width: calc( 33% - calc( var(--article-gutter) * 2 ) );
    --article-xxl-width: calc( 25% - calc( var(--article-gutter) * 2 ) );*/
    --button-primary-background:#F2F2F2;
    --button-primary-color:#0d6efd;
    --button-validation-bg: #F2F2F2;
    --button-validation-color: #198754;
    --button-warning-bg: #F2F2F2;
    --button-warning-color: #ffc107;
    --button-danger-bg: #F2F2F2;
    --button-danger-color: #BF3636;
    --main-links: #BF3636;
    --main-links-hover: #625D73;
    --h1-title: #ffc107;
    --h1-shadow: #0D0D0D;
    --aside-border-color: #ffc107;
    --aside-border-width: 3px;
    --aside-border-radius: 5px;
}

*, 
*::before, 
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Overseer';
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
}

h1{
    color: var(--h1-title);
    letter-spacing: 4px;
    text-shadow: 0 0 5px var(--h1-shadow);
}

q::before, q::after{
    content: '"';
}

img{
    max-width: 100%;
}

figure{
    background-color: black;
}

figure img{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

figcaption{
    background-color: white;
    width: 100%;
}

video{
    max-width: 100%;
}

aside h3{
    font-family: var(--aside-font-fam);
    letter-spacing: unset;
}

figure.video{
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
}

iframe.video{
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
}

.rouge-gras{
    color: darkred;
    font-weight: 900;
}

audio{
    margin-left: auto;
    margin-right: auto;
}

button{
    border: 1px solid var(--button-primary-color);
    background-color: var(--button-primary-background);
    color: var(--button-primary-color);
    text-transform: uppercase;
    padding: 5px 25px;
    border-radius: 3px;
}

button:hover{
    background-color: var(--button-primary-color);
    color: var(--button-primary-background);
}

button.valider{
    background-color: var(--button-validation-bg);
    color: var(--button-validation-color);
    border-color: var(--button-validation-color);
}

button.valider:hover{
    background-color: var(--button-validation-color);
    color: var(--button-validation-bg);
    border-color: var(--button-validation-color);
}

button.warning{
    background-color: var(--button-validation-bg);
    color: black;
    border-color: var(--button-warning-color);
}

button.warning:hover{
    background-color: var(--button-warning-color);
}

button.danger{
    background-color: var(--button-danger-bg);
    color: var(--button-danger-color);
    border-color: var(--button-danger-color);
}

button.danger:hover{
    background-color: var(--button-danger-color);
    color: var(--button-danger-bg);
    border-color: var(--button-danger-color);
}


/* CSS de l'archi HTML */

body{
    margin: 0;
}

body > header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-image: url('../images/cropped-wallhaven-fallout-4-01-3-1536x922.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

body > nav{
    background-color: var(--bg-nav-principale);
}


body > nav > ul{
    list-style-type: none;
    padding: 0;
    line-height: 2rem;
    margin-top: 0;
}

body > nav > ul a,
body > nav > ul a:visited{
    color: var(--lien-nav-principale);
    display: block;
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
}

body > nav > ul a:hover,
body > nav > ul a:focus, 
Body > nav > ul a.active{
    color: var(--bg-nav-principale);
    background-color: var(--lien-nav-principale);
}

body > main,
body > nav > ul,
body > footer > section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body > main a,
body > main a:visited{
    color: var(--main-links);
    text-decoration: none;
}

body > main a:hover{
    color: var(--main-links-hover);
}

body > main > section .column-rwd{
    margin: 5px var(--article-gutter);
    width: var(--width-col-100);
    padding: 2px;
}

div.aside{
    border-radius: var(--aside-border-radius);
    border: var(--aside-border-width) solid var(--aside-border-color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

body > main > section article footer{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 576px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 540px;
    }

    body > footer > section{
        display: flex;
        flex-wrap: wrap;
    }

    body > footer > section > section{
        width: var(--width-col-50);
    }

}

@media (min-width: 768px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 720px;
    }

    body > main > section{
        display: flex;
        flex-wrap: wrap;
    }
    /* comportement normal d'un bloc avec la classe column-rwd dans body > main > section */
    body > main > section .column-rwd{
        width: var(--width-col-50);
    }
    
    /* 
    comportement d'un bloc avec la classe column-rwd dans body > main > section 
    quand c'est le premier & le dernier bloc de la ligne avec un affichage de 2 blocs par ligne
    */
    body > main > section .column-rwd:nth-child(2n + 1):last-child{
        width: var(--width-col-100);
    }

    body > nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body > header{
        height: calc( 50vh - 4rem );
    }

    h1{
        font-size: 4rem;
    }
}

@media (min-width: 992px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 960px;
    }

    /* comportement normal d'un bloc avec la classe column-rwd dans body > main > section */
    body > main > section .column-rwd{
        width: var(--width-col-33);
    }
    
    /* 
    comportement d'un bloc avec la classe column-rwd dans body > main > section 
    quand c'est le premier & le dernier bloc de la ligne avec un affichage de 3 blocs par ligne
    */

    body > main > section .column-rwd:nth-child(3n + 1):last-child{
        width: var(--width-col-100);
    }

    /* 
    comportement d'un bloc avec la classe column-rwd dans body > main > section 
    quand c'est le second & le dernier bloc de la ligne avec un affichage de 3 blocs par ligne
    */

    body > main > section .column-rwd:nth-child(3n + 2):last-child{
        width: var(--width-col-66);
    }

    /* 
    comportement d'un bloc avec la classe column-rwd dans body > main > section 
    quand c'est le troisième & le dernier bloc de la ligne avec un affichage de 3 blocs par ligne
    */

    body > main > section .column-rwd:nth-child(3n + 3):last-child{
        width: var(--width-col-33);
    }

    body > header{
        height: calc( 100vh - 2rem );
    }
}

@media (min-width: 1200px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 1140px;
    }
}

@media (min-width: 1400px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 1320px;
    }

    /* comportement normal d'un bloc avec la classe column-rwd dans body > main > section */
    body > main > section .column-rwd{
        width: var(--width-col-25);
    }

    /* 
    comportement d'un bloc avec la classe column-rwd dans body > main > section 
    quand c'est le 1er & le dernier bloc de la ligne avec un affichage de 4 blocs par ligne
    */
    body > main > section .column-rwd:nth-child(4n + 1):last-child{
        width: var(--width-col-100);
    }

    /* 
    comportement d'un bloc avec la classe column-rwd dans body > main > section 
    quand c'est le 2ème & le dernier bloc de la ligne avec un affichage de 4 blocs par ligne
    */
    body > main > section .column-rwd:nth-child(4n + 2):last-child{
        width: var(--width-col-75);
    }

    /* 
    comportement d'un bloc avec la classe column-rwd dans body > main > section 
    quand c'est le 3ème & le dernier bloc de la ligne avec un affichage de 4 blocs par ligne
    */
    body > main > section .column-rwd:nth-child(4n + 3):last-child{
        width: var(--width-col-50);
    }

    /* 
    comportement d'un bloc avec la classe column-rwd dans body > main > section 
    quand c'est le 4ème & le dernier bloc de la ligne avec un affichage de 4 blocs par ligne
    */
    body > main > section .column-rwd:nth-child(4n + 4):last-child{
        width: var(--width-col-25);
    }
}

/*
@media print {
    :root{
        font-family: 'Times New Roman', Times, serif;
    }
    
    body > header, 
    body > nav, 
    body > footer,
    article footer{
        display: none;
    }   
}
*/